{% extends 'base.html.twig' %}

{% block title %}SensorType index{% endblock %}

{% block body %}
    <h1>SensorType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unit</th>
                <th>InflexId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sensor_type in sensor_types %}
            <tr>
                <td>{{ sensor_type.id }}</td>
                <td>{{ sensor_type.name }}</td>
                <td>{{ sensor_type.unit }}</td>
                <td>{{ sensor_type.inflexId }}</td>
                <td>
                    <a href="{{ path('sensor_type_show', {'id': sensor_type.id}) }}">show</a>
                    <a href="{{ path('sensor_type_edit', {'id': sensor_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sensor_type_new') }}">Create new</a>
{% endblock %}
